@import '../../../../styles/colors.scss';

.buttonContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px
}

.running {
  color: $mainGreen
}

.stopped {
  color: $mainRed
}

.apiButton {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border: 3px ridge white;
  border-radius: 5px;
  &:hover {
    border: 3px ridge rgb(161, 161, 161);
  }
  margin: 5px;
}


.turnOn {
  background-color: $mainGreen;
}

.turnOff {
  background-color: $mainRed;
}

.inProgress {
  opacity: 50%;
  pointer-events: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


.initialiser {
  border: 4px ridge white;
  padding: 10px;
  border-radius: 10px;
  background-color: $mainBlue;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    background-color: $darkerBlue;
  }
}
