<div class="buttonContainer">
Status DCS:
<ng-container *ngIf="dcServiceStatusResponse.is_running; else elseTemplate">
  <b class="running">Running</b>
</ng-container>
<ng-template #elseTemplate>
   <b class="stopped">Stopped</b>
</ng-template>

<br>
  <input type="button" value="Switch ON" class="apiButton turnOn" [ngClass]="{
    'inProgress' : dcServiceStatusResponse.is_running,
  }"
  (click)="switchStatus('start')"
  >
  <input type="button" value='Switch OFF' class="apiButton turnOff" [ngClass]="{
    'inProgress' : !dcServiceStatusResponse.is_running,
  }"
  (click)="switchStatus('stop')"
  >
  <input type="button" value='Check DCS Status' class="checkStatus"
  (click)="updateStatus()"
  >
</div>
