<div class="buttonContainer" *ngIf="initialised == true">
Status DCS:
<ng-container *ngIf="dcServiceStatusResponse && dcServiceStatusResponse.is_running; else elseTemplate">
  <b class="running">Running</b>
</ng-container>
<ng-template #elseTemplate>
   <b class="stopped">Stopped</b>
</ng-template>

<br>
  <input type="button" value="Switch ON" class="apiButton turnOn" [ngClass]="{
    'inProgress' : dcServiceStatusResponse && dcServiceStatusResponse.is_running,
  }"
  (click)="switchStatus('start')"
  >
  <input type="button" value='Switch OFF' class="apiButton turnOff" [ngClass]="{
    'inProgress' : dcServiceStatusResponse && !dcServiceStatusResponse.is_running,
  }"
  (click)="switchStatus('stop')"
  >

</div>
<div class="buttonContainer" *ngIf="!initialised">
<input type="button" value='Initialise DCS Control Panel' class="initialiser"
  (click)="fetchData()"
  >
  <span class="loader" *ngIf="initialising"></span>
</div>
